*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.nav{
    background-color: green;
    text-align: center;
}
.nav ul{
    display: inline-flex;
    list-style: none;
}
.nav ul li{
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    width: 120px;
}
.nav ul li a{
    text-decoration: none;
}
.nav ul li:hover{
    background-color: rgb(0, 185, 0);
}
.home{
    background-color: rgb(0, 185, 0);
}
.menu{
    border-radius: 15px;
    display: none;
    position: absolute;
    background-color: green;
    margin-top: 15px;
    margin-left: -30px;
}
.menu ul{
    display: block;
}
.nav ul li:hover .menu{
        display: block;
}
.sub{
    display: none;
    background-color: green;
    position: absolute;
    margin-left: 135px;
    margin-top: -50px;
}
.nav ul li ul li:hover .sub{
    display: block;
    border-radius: 15px;
}


